.SectionTwo__container {
  width: 100%;
  display: flex;
  position: relative;
  top: 00px;
  justify-content: space-around;
}
.pic_two {
  height: 300px;
  transform: scaleX(-1);
}
.sectionTwo__text {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (max-width: 850px) {
  .sectionTwo__text {
    width: 300px;
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .sectionTwo__text {
    width: 300px;
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .pic_two {
    height: 100px;
  }
  .sectionTwo__text {
    width: 200px;
    font-size: 10px;
  }
  .SectionTwo__container {
    flex-direction: column-reverse;
    align-items: center;
    top: 0px;
  }
}
