.sectionOne__container {
  width: 100%;
  display: flex;
  position: relative;
  top: 50px;
  justify-content: space-around;
}
.sectionOne__center-keeper {
  display: flex;
  width: 1000px;
  /* background-color: red; */
  justify-content: space-around;
}
.pic_one {
  height: 500px;
}
.sectionOne__text {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}
.sectionOne-collectable {
  font-size: 50px;
}
.digital-art {
  font-size: 50px;
  position: relative;
  bottom: 70px;
  /* color: #6963ee; */
  color: #7772f1;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
.sectionOne__text-nfts {
  position: relative;
  bottom: 100px;
  font-size: 25px;
}

@media (max-width: 1000px) {
  .sectionOne__center-keeper {
    display: flex;
    width: 600px;
    /* background-color: red; */
    justify-content: space-around;
  }
  .pic_one {
    height: 300px;
  }
}

@media (max-width: 640px) {
  .sectionOne__center-keeper {
    width: 100%;
  }
  .pic_one {
    height: 250px;
  }
  .sectionOne__container {
    flex-direction: column;
    align-items: center;
    top: 20px;
  }
  .sectionOne-collectable {
    font-size: 45px;
  }
  .digital-art {
    font-size: 45px;
    position: relative;
    bottom: 70px;
    color: #6963ee;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }
  .sectionOne__text-nfts {
    position: relative;
    bottom: 100px;
    font-size: 25px;
  }
}

@media (max-width: 570px) {
  .sectionOne__center-keeper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .pic_one {
    height: 300px;
  }
  .sectionOne__text {
    position: relative;
    bottom: 80px;
  }
  .sectionOne__text-nfts {
    position: relative;
    bottom: 120px;
    font-size: 25px;
  }
  .sectionOne-collectable {
    font-size: 50px;
  }
  .digital-art {
    font-size: 50px;
  }
}
