.App {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  min-height: 100vh;
  /* height: 840px; */
}
@media (max-width: 850px) {
  .App {
    height: 1000px;
  }
}
@media (max-width: 550px) {
  .App {
    height: 900px;
  }
}
