.btns__container {
  /* width: 500px; */
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.btns__icon {
  height: 50px;
  position: relative;
  top: 2px;
  border-radius: 7%;
  margin-right: 30px;
}
.btns__icon:hover {
  background-color: black;
  opacity: 50%;
  transition: ease-in-out all;
}
.btn {
  height: 50px;
  width: 100px;
  border-radius: 10%;
  /* background-color: blue; */
  color: white;
  font-size: x-large;
  font-weight: 800;
  cursor: pointer;
  /* background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
  /* background-color: #6d17cb; */

  background-color: #7677e9;

  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 84%);
}
.btn:hover {
  background-color: black;
  opacity: 50%;
}

@media (max-width: 850px) {
  .btns__container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 0px;
    justify-content: ;
  }
}
