.btns__container {
  /* width: 500px; */
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.btns__icon {
  height: 50px;
  position: relative;
  top: 2px;
  border-radius: 7%;
  margin-right: 30px;
}
/* .btns__icon:hover {
  background-color: black;
  opacity: 80%;
  transition: ease-in-out all;
} */
/* .btn {
  height: 50px;
  width: 100px;
  border-radius: 10%;
  color: white;
  font-size: x-large;
  font-weight: 800;
  cursor: pointer;
  background-color: #7677e9;

  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 84%);
} */
/* .btn:hover {
  background-color: black;
  opacity: 90%;
} */
.buy-btn {
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 84%);
  border-bottom: solid 4px black;
  color: #fff;
}
.buy-btn:hover {
  background-color: #1c0406;
  background-image: linear-gradient(315deg, #1d0709 0%, #a71d31 98%);
  /* border-bottom: solid 4px #5a6ac3; */
  color: #fff;
}
@media (max-width: 850px) {
  .btns__container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 0px;
    justify-content: center;
  }
}
